# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Maintenance.WebAPI to Azure Web App - maintenance-webapi-ns

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Restore
        run: dotnet restore Maintenance.WebAPI/Maintenance.WebAPI.csproj

      - name: Build
        run: dotnet build Maintenance.WebAPI/Maintenance.WebAPI.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish Maintenance.WebAPI/Maintenance.WebAPI.csproj -c Release -o ./publish

      - name: Show publish output
        run: ls -la ./publish

      - name: Zip publish output
        run: |
          cd publish
          zip -r ../app.zip .
          cd ..

      - name: Upload artifact (zip)
        uses: actions/upload-artifact@v4
        with:
          name: webapp-package
          path: app.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact (zip)
        uses: actions/download-artifact@v4
        with:
          name: webapp-package
          path: .

      - name: Show downloaded files
        run: ls -la

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3BE3304195644C9EAA6212B147637A54 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_2CFD9F1A7CB94831928BAECEEA599309 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_87CBCF07475F4286B1D13848C5992D27 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "maintenance-webapi-ns"
          slot-name: "Production"
          package: "./app.zip"
